@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Oswald:wght@200;500;700&family=Work+Sans:wght@100;400;700&display=swap');

* { font-family: 'Work Sans', sans-serif;
}



body {
    background-color: white;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

#navbarLogo {
    height: 30px;
    align-items: center; 
    justify-content: center;
    padding: 6px;
    

}


#navbarLinks a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
    letter-spacing: 0px;    
    width: 10%;
    justify-content: center;
}


nav {
    background-color: #0081c6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 150px;
}

#main_hero_image {
    margin: 0px;
    width: 2500px;

}

#new-product-rollers {
    margin: 0px;
    width: 300px;
    height: 325px;
}



#pole_fishing {
    margin: 0px;
    width: 300px;
    height: 325px;
}

#feeder_fishing {
    margin: 0px;
    width: 300px;
    height: 325px;
}


#float_fishing {
    margin: 0px;
    width: 300px;
    height: 325px;
}


#des_shipp {
    img.align-center {
        display: block;
        margin: 0px auto;}
        img.medium {
            width: 250%;
            height: 250px
        }

    /* } */
    /* margin: 0px; */
    /* align-items: center;  */
    /* padding: 5%; */
    /* width: 50vw; */
    /* height: 40vw; */
    /* overflow-x: hidden; */
}


#absolutestation {
    margin: 0px;
    width: 100%;
    align-items: center;
    padding: 0%;
}


footer {
    background-color: #0081c6;
    display: flex;
    justify-content: center;
    */align-items: center;*/
    padding: 39px 150px;
 }



